h1 {
  color: blue;
  text-align: center;
}

h2 {
  color: blue;
  text-align: center;
}

body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenedor-principal {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px
}

.menu-lateral {
  flex: 200px;
}