h1 {
  color: blue;
  text-align: center;
}

h2 {
  text-align: left;
}

body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenedor-principal {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px
}

.menu-lateral li {
  flex: 200px;
  margin-bottom: 25px;
  align-items: center;
}

.boton {
  background-color: aqua;
  padding: 10px;
  transition: 3.5s;
  text-align: center;
}

.boton :hover {
  background-color: chartreuse;
}